* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 16px;
  position: sticky;
  top: 0;
  border: 1px solid white;
  background: hsl(0, 0%, 100%);
  border-bottom: 2px solid;
}
header nav > a {
  margin: 16px;
  text-decoration: none;
  padding: 8px;
}
header nav > a:hover {
  text-decoration: underline;
}

footer {
  padding: 16px;
  text-align: center;
  border-top: 4px solid;
}
.container {
  padding: 16px;
}

.container > section > h2 {
  text-align: center;
}

.intro {
  margin: -16px;
  padding: 16px;
  background-color: #1d1c1c;
  color: white;
  text-align: center;
}

#profile-image {
  height: 400px;
  width: 400px;
  border-radius: 16px;
}

.social-links img {
  height: 20px;
  width: 20px;
}

.social-links a {
  text-decoration: none;
  margin: auto 16px;
}

table,
tr,
td,
th {
  border: 1px solid;
  border-collapse: collapse;
}
th,
td {
  padding: 8px;
}

p {
  font-size: 1.5rem;
}

.dynamic-text-color {
  color: royalblue;
}

form#contact {
  max-width: 400px;
  margin: auto;
  padding: 16px;
  border: 1px solid;
  border-radius: 16px;
}

#contact label {
  display: block;
  font-weight: 600;
}
#contact input,
#contact textarea,
#contact button {
  width: 100%;
  font-size: 1.2rem;
  padding: 8px;
}
#contact-me {
  margin-top: 16px;
}
