* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 16px;
  position: sticky;
  top: 0;
  border: 1px solid white;
  background: hsl(0, 0%, 100%);
  border-bottom: 2px solid;
}
nav a {
  text-decoration: none;
  color: royalblue;
}
header nav > a {
  margin-right: 16px;
}
header nav > a:last-child {
  margin-right: revert;
}
nav > a:hover {
  text-decoration: underline;
}
nav a:visited {
  color: royalblue;
}

footer {
  padding: 16px;
  text-align: center;
  border-top: 4px solid;
}
.container {
  padding: 16px;
}

.container > section > h2 {
  text-align: center;
}

.intro {
  margin: -16px;
  padding: 16px;
  background-color: #1d1c1c;
  color: white;
  text-align: center;
}

#profile-image {
  height: 400px;
  width: 400px;
  border-radius: 16px;
}

.social-links img {
  height: 20px;
  width: 20px;
}

.social-links a {
  text-decoration: none;
  margin: auto 16px;
}

table,
tr,
td,
th {
  border: 1px solid;
  border-collapse: collapse;
}
th,
td {
  padding: 8px;
}

p {
  font-size: 1.5rem;
}

.dynamic-text-color {
  color: royalblue;
}

form#contact {
  max-width: 400px;
  margin: auto;
  padding: 16px;
  border: 1px solid;
  border-radius: 16px;
}

#contact label {
  display: block;
  font-weight: 600;
}
#contact input,
#contact textarea,
#contact button {
  width: 100%;
  font-size: 1.2rem;
  padding: 8px;
}
#contact-me {
  margin-top: 16px;
}

.mobile-nav,
section.menu {
  display: none;
}

@media (width <500px) {
  .default-nav {
    display: none;
  }
  .mobile-nav {
    display: revert;
  }
  #menu-button {
    display: block;
    background: transparent;
    border-radius: 8px;
    margin-left: auto;
  }
  section.menu {
    display: revert;
    height: 0;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1;
    background: hsl(0, 0%, 100%);
    transition: height 0.8s ease-in-out;
  }
  section.menu ul {
    list-style: none;
  }
  section.menu ul > li {
    margin-bottom: 16px;
    font-size: 1.5rem;
  }
  section.menu nav {
    margin-top: 48px;
  }
  #close-menu {
    position: absolute;
    right: 16px;
    top: 16px;
    background: transparent;
    font-size: x-large;
    border: none;
  }
}

@media (width<=450px) {
  #profile-image {
    width: 100%;
  }
}
