* {
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  --background-color: hsl(240deg, 80%, 100%);
  --secondary-color: hsl(225, 85%, 57%);
  --text-color: hsl(240deg 95% 8%);
  --intro-color: hsl(0, 0%, 85%);
  --shadow-color: hsl(225 10% 83%);
  --shadow-color-dark: hsl(225 10% 63%);

  --font-size-small: 0.5rem;
  --font-size-regular: 1rem;
  --font-size-large: 1.5rem;
  --font-size-xl: 2rem;

  --spacing-regular: 16px;
  --spacing-small: calc(var(--spacing-regular) / 2);
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--font-size-large);
}

body.dark-theme {
  --background-color: hsl(240deg, 80%, 5%);
  --text-color: hsl(240deg 95% 100%);
  --intro-color: hsl(0, 0%, 18%);
}

.header {
  padding: 16px;
  position: static;
  top: 0;
  background: var(--background-color);
  z-index: 1;
  border-bottom: 1px solid;
}
.default-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: inherit;
  font-size: var(--font-size-regular);
}
header nav a {
  margin-right: 16px;
}
header nav a:last-child {
  margin-right: revert;
}
nav a:hover,
nav a:visited:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}
nav a:visited {
  color: inherit;
}

footer {
  padding: 16px;
  text-align: center;
  border-top: 4px solid;
}
.container {
  padding: 16px;
}

section {
  scroll-margin-top: calc(100px - (2 * var(--spacing-regular)));
}

.container > section > h2 {
  text-align: center;
}

.intro {
  margin: -16px;
  padding: 16px;
  background-color: var(--intro-color);
  color: white;
  text-align: center;
}

#profile-image {
  height: 400px;
  width: 400px;
  filter: drop-shadow(4px -6px 10px black);
}

.social-links img {
  height: 30px;
  width: 30px;
}

.social-links a {
  text-decoration: none;
  margin: auto 16px;
}

table,
tr,
td,
th {
  border: 1px solid;
  border-collapse: collapse;
}
th,
td {
  padding: 8px;
}

.dynamic-text-color {
  color: royalblue;
}

#contact-me .contacts-container {
  display: flex;
  padding: var(--spacing-regular);
  flex-wrap: wrap;
  gap: var(--spacing-regular);
  justify-content: center;
  align-items: center;
}

.contact-img {
  max-width: 400px;
}
.contact-img img {
  width: 100%;
  height: auto;
}

form#contact {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-regular);
}

#contact label {
  display: block;
  font-weight: 600;
  font-size: var(--font-size-regular);
}
#contact input,
#contact textarea,
#contact button {
  width: 100%;
  font-size: 1.2rem;
  padding: 8px;
}

#contact button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: var(--secondary-color);
  color: white;
}

#contact-me {
  margin-top: 16px;
}

#technologies .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  /* place-items: center; */
  gap: var(--spacing-regular);
  justify-content: center;
  justify-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  padding: var(--spacing-regular);

  width: 100%;
  border-radius: var(--spacing-regular);
  transition: transform 0.4s ease-in, box-shadow 0.4s ease-in-out;
}

.shadow {
  box-shadow: 3px 3px 6px 5px var(--shadow-color);
}
.shadow:hover {
  box-shadow: 3px 3px 8px 9px var(--shadow-color-dark);
}

.move-y:hover {
  transform: translateY(calc(-1 * var(--spacing-small)));
}

.card ul {
  list-style: none;
  padding: 0;
  /* text-align: center; */
}
.card header h1 {
  margin: 0;
}
.mobile-nav,
section.menu {
  display: none;
}

@media (width <500px) {
  .default-nav {
    display: none;
  }
  .mobile-nav {
    display: revert;
  }
  #menu-button {
    display: block;
    border-radius: 8px;
    margin-left: auto;
    background: var(--background-color);
    color: var(--text-color);
    border-color: var(--text-color);
  }
  section.menu {
    display: revert;
    height: 0;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 2;
    background: var(--background-color);
    transition: height 0.8s ease-in-out;
  }
  section.menu ul {
    list-style: none;
  }
  section.menu ul > li {
    margin-bottom: 16px;
    font-size: 1.5rem;
  }
  section.menu nav {
    margin-top: 48px;
  }
  section.menu nav a {
    font-size: var(--font-size-large);
  }
  #close-menu {
    position: absolute;
    right: 16px;
    top: 16px;
    background: transparent;
    font-size: var(--font-size-xl);
    border: none;
    color: var(--text-color);
  }
}

@media (width<=450px) {
  #profile-image {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --background-color: hsl(240deg, 80%, 5%);
    --text-color: hsl(240deg 95% 100%);
    --intro-color: hsl(0, 0%, 18%);
  }
  body.light-theme {
    --background-color: hsl(240deg, 80%, 100%);
    --text-color: hsl(240deg 95% 8%);
    --intro-color: hsl(0, 0%, 85%);
  }
}

#theme-switcher {
  cursor: pointer;
  height: 3rem;
  width: 3em;
  background: transparent;
  outline: none;
  border: none;
}
